.screen-loader-page {
    min-height: 100vh;
    width: 100%;
    background-color: var(--surface-primary-default);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.screen-loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.screen-loader-animation {
    width: 450px;
    height: 450px;
}

/* Fade out animation */
.screen-loader-page.fade-out {
    animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}